#conteudo {
    margin: 0 auto;
    width: 800px;
    /* border: 1px dashed darkolivegreen; */
}

#conteudo h1 {
    margin: 20px 0;
}

.caixa {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
}

.caixa h2 {
    font-size: larger;
}

.caixa sup {
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgray;
}

.caixa p {
    text-align: justify;
}