:root {
    --preto: #000;
    --branco: #fff;
    --verde: #0f0;

    --cinza-01: #f4f2ec;
    --cinza-02: #535858;

    --vermelho-02: #ff6347;

    --laranjado-02: #af670a;
    --laranjado-03: #db9a21;
    --laranjado-04: #ebe7dd;
    --laranjado-05: #ada484;
    --laranjado-06: #9b9271;

    --verde-02: #227115;
    --verde-03: #69c269;

    --roxo-01: #cdc8d1;

    --marrom-01: #86521a;
}